.header
  padding: 0

  h1
    text-align: right
    padding-right: 100px
    padding-bottom: 50px
    margin: 30px
    font-size: 3.5em


.headerTop
  background-color: lightgray
  display: flex
  justify-content: space-between
  align-items: center

  img
    height: 60px
    margin: 1vh 5vw

  nav
    display: inline
    margin-right: 5vw


  ul
    list-style-type: none
    display: inline


  li
    display: inline
    padding: 1vw
    font-size: 1.25em
    font-weight: 500

  li:hover
    color: #5F9EA0

  a:hover
    text-decoration: none

.coverPhoto
  background-image: url("../img/maincat.jpg")
  background-repeat: no-repeat
  background-position: center
  background-size: cover
  height: 400px
  display: flex
  align-items: flex-end
  justify-content: flex-end
